nav a{
    text-decoration: none;
    color: black;
    margin: 2em;
}

nav:first-child{
    display: flex;
    justify-content: center;
}

nav:nth-child(2){
    display: flex;
    flex-direction:column;
    align-items: center;
}

#horizontal-underLine {
    position: absolute;
    width: 0px;
    background-color: pink;
    top: 0px;
    left: 0px;
    height:3px;
    transition: 0.5s;
}